/Source/__history
/Source/CSV.Core/__history
/Source/CSV.Core/Src/__history
/Source/CSV.FMX.Exe/__history
/Source/CSV.Resources.Common/__history
/Source/CSV.VCL.Exe/__history
/Source/CSV.VCL.Exe/Src/__history
/Source/CSV.View.FMX/__history
/Source/CSV.View.FMX/Src/__history
/Source/CSV.View.VCL/__history
/Source/CSV.View.VCL/Src/__history
/Source/MVVM.Core/__history
/Source/MVVM.Core/Src/__history
/Source/Win32/Debug/DCP/*.bpi
/Source/Win32/Debug
/Source/CSV.Core/Obj/Win32/Debug
/Source/CSV.FMX.Exe/Obj/Win32/Debug
/Source/CSV.VCL.Exe/Obj/Win32/Debug
/Source/CSV.View.FMX/Obj/Win32/Debug
/Source/CSV.View.VCL/Obj/Win32/Debug
/Source/MVVM.Core/Obj/Win32/Debug
/Source/CSV.Core/*.identcache
/Source/CSV.VCL.Exe/*.identcache
/Source/CSV.FMX.Exe/*.identcache
/Source/CSV.View.FMX/*.identcache
/Source/CSV.View.VCL/*.identcache
/Source/MVVM.Core/*.identcache
/Source/CSV.Core/*.local
/Source/CSV.FMX.Exe/*.local
/Source/CSV.VCL.Exe/*.local
/Source/CSV.View.FMX/*.local
/Source/CSV.View.VCL/*.local
/Source/MVVM.Core/*.local
/Source/*.local
/Source/CSV.Core/*.res
/Source/CSV.FMX.Exe/*.res
/Source/CSV.VCL.Exe/*.res
/Source/CSV.View.FMX/*.res
/Source/CSV.View.VCL/*.res
/Source/MVVM.Core/*.res
/Source/MVVM.FMX/MVVM.Platform.FMX.dproj.local
/Source/MVVM.FMX/MVVM.Platform.FMX.identcache
/Source/MVVM.FMX/MVVM.Platform.FMX.res
/Source/MVVM.FMX/Obj/Win32/Debug/MVVM.Servicios.Platform.FMX.dcu
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~1~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~2~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~3~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~4~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~1~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~2~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~3~
/Source/MVVM.FMX/Src/__history
/Source/MVVM.VCL/Obj/Win32/Debug
/Source/MVVM.VCL/Src/__history
/Source/MVVM.VCL/__history
/Source/MVVM.VCL/MVVM.Platform.VCL.dproj.local
/Source/MVVM.VCL/MVVM.Platform.VCL.identcache
/Source/MVVM.VCL/MVVM.Platform.VCL.res
/Source/CSV.Core.DUnitX/__history
/Source/CSV.Core.DUnitX/Src/__history
/Source/CSV.Core.DUnitX/Obj/Win32/Debug
/Source/CSV.Core.DUnitX/Win32/Debug/*.exe
/Source/CSV.Core.DUnitX/*.identcache
/Source/CSV.Core.DUnitX/*.local
/Source/CSV.Core.DUnitX/*.res
/ThirdParty/DunitX/Tests/*.res
/Source/CSV.Core.DUnitX/Win32/Debug
/Bin
/Demos/CSV/CSV.Core.DUnitX/__history
/Demos/CSV/CSV.Core.DUnitX/__history/*.~1~
/Demos/CSV/CSV.Core/__history/*.~1~
/Demos/CSV/CSV.Core/Src/__history/*.~1~
/Demos/CSV/CSV.FMX.Exe/__history/*.~1~
/Demos/CSV/CSV.Resources.Common/__history/*.~1~
/Demos/CSV/CSV.VCL.Exe/__history/*.~1~
/Demos/CSV/CSV.VCL.Exe/Src/__history/*.~1~
/Demos/CSV/CSV.View.FMX/__history/*.~1~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~1~
/Demos/CSV/CSV.View.VCL/__history/*.~1~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~1~
/Demos/DataSet/DataSet.Core/__history/*.~1~
/Demos/DataSet/DataSet.Core/Src/__history/*.~1~
/Demos/DataSet/DataSet.Resources.Common/__history/*.~1~
/Demos/DataSet/DataSet.View.FMX/__history/*.~1~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~1~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~2~
/Demos/CSV/CSV.Core/__history/*.~2~
/Demos/CSV/CSV.Core/Src/__history/*.~2~
/Demos/CSV/CSV.FMX.Exe/__history/*.~2~
/Demos/CSV/CSV.VCL.Exe/__history/*.~2~
/Demos/CSV/CSV.View.FMX/__history/*.~2~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~2~
/Demos/CSV/CSV.View.VCL/__history/*.~2~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~2~
/Demos/DataSet/DataSet.Core/__history/*.~2~
/Demos/DataSet/DataSet.Core/Src/__history/*.~2~
/Demos/DataSet/DataSet.Resources.Common/__history/*.~2~
/Demos/DataSet/DataSet.View.FMX/__history/*.~2~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~2~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~3~
/Demos/CSV/CSV.Core/Src/__history/*.~3~
/Demos/CSV/CSV.FMX.Exe/__history/*.~3~
/Demos/CSV/CSV.View.FMX/__history/*.~3~
/Demos/CSV/CSV.View.VCL/__history/*.~3~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~3~
/Demos/DataSet/DataSet.Core/__history/*.~3~
/Demos/DataSet/DataSet.Core/Src/__history/*.~3~
/Demos/DataSet/DataSet.FMX.App/__history/*.~3~
/Demos/DataSet/DataSet.View.FMX/__history/*.~3~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~3~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~4~
/Demos/CSV/CSV.Core/Src/__history/*.~4~
/Demos/CSV/CSV.FMX.Exe/__history/*.~4~
/Demos/CSV/CSV.VCL.Exe/__history/*.~4~
/Demos/CSV/CSV.View.FMX/__history/*.~4~
/Demos/DataSet/DataSet.Core/__history/*.~4~
/Demos/DataSet/DataSet.Core/Src/__history/*.~4~
/Demos/DataSet/DataSet.FMX.App/__history/*.~4~
/Demos/DataSet/DataSet.View.FMX/__history/*.~4~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~4~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~5~
/Demos/CSV/CSV.Core/Src/__history/*.~5~
/Demos/CSV/CSV.FMX.Exe/__history/*.~5~
/Demos/CSV/CSV.VCL.Exe/__history/*.~5~
/Demos/CSV/CSV.View.FMX/__history/*.~5~
/Demos/DataSet/DataSet.Core/__history/*.~5~
/Demos/DataSet/DataSet.Core/Src/__history/*.~5~
/Demos/DataSet/DataSet.FMX.App/__history/*.~5~
/Demos/DataSet/DataSet.View.FMX/__history/*.~5~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~5~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~6~
/Demos/CSV/CSV.Core/Src/__history/*.~6~
/Demos/CSV/CSV.FMX.Exe/__history/*.~6~
/Demos/CSV/CSV.VCL.Exe/__history/*.~6~
/Demos/DataSet/DataSet.Core/__history/*.~6~
/Demos/DataSet/DataSet.Core/Src/__history/*.~6~
/Demos/DataSet/DataSet.FMX.App/__history/*.~6~
/Demos/DataSet/DataSet.View.FMX/__history/*.~6~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~6~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~7~
/Demos/CSV/CSV.FMX.Exe/__history/*.~7~
/Demos/CSV/CSV.VCL.Exe/__history/*.~7~
/Demos/DataSet/DataSet.Core/__history/*.~7~
/Demos/DataSet/DataSet.Core/Src/__history/*.~7~
/Demos/DataSet/DataSet.FMX.App/__history/*.~7~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~7~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~8~
/Demos/CSV/CSV.FMX.Exe/__history/*.~8~
/Demos/CSV/CSV.VCL.Exe/__history/*.~8~
/Demos/DataSet/DataSet.Core/__history/*.~8~
/Demos/DataSet/DataSet.Core/Src/__history/*.~8~
/Demos/DataSet/DataSet.FMX.App/__history/*.~8~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~8~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~9~
/Demos/CSV/CSV.FMX.Exe/__history/*.~9~
/Demos/CSV/CSV.VCL.Exe/__history/*.~9~
/Demos/DataSet/DataSet.Core/__history/*.~9~
/Demos/DataSet/DataSet.Core/Src/__history/*.~9~
/Demos/DataSet/DataSet.FMX.App/__history/*.~9~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~9~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~10~
/Demos/CSV/CSV.Core/Src/__history/*.~10~
/Demos/CSV/CSV.FMX.Exe/__history/*.~10~
/Demos/CSV/CSV.VCL.Exe/__history/*.~10~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~10~
/Demos/DataSet/DataSet.Core/Src/__history/*.~10~
/Demos/DataSet/DataSet.FMX.App/__history/*.~10~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~10~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~11~
/Demos/CSV/CSV.Core/Src/__history/*.~11~
/Demos/CSV/CSV.FMX.Exe/__history/*.~11~
/Demos/CSV/CSV.VCL.Exe/__history/*.~11~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~11~
/Demos/DataSet/DataSet.Core/Src/__history/*.~11~
/Demos/DataSet/DataSet.FMX.App/__history/*.~11~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~11~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~12~
/Demos/CSV/CSV.Core/Src/__history/*.~12~
/Demos/CSV/CSV.VCL.Exe/__history/*.~12~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~12~
/Demos/DataSet/DataSet.Core/Src/__history/*.~12~
/Demos/DataSet/DataSet.FMX.App/__history/*.~12~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~12~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~13~
/Demos/CSV/CSV.Core/Src/__history/*.~13~
/Demos/CSV/CSV.VCL.Exe/__history/*.~13~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~13~
/Demos/DataSet/DataSet.Core/Src/__history/*.~13~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~13~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~14~
/Demos/CSV/CSV.Core/Src/__history/*.~14~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~14~
/Demos/DataSet/DataSet.Core/Src/__history/*.~14~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~14~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~15~
/Demos/CSV/CSV.Core/Src/__history/*.~15~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~15~
/Demos/DataSet/DataSet.Core/Src/__history/*.~15~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~15~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~16~
/Demos/CSV/CSV.Core/Src/__history/*.~16~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~16~
/Demos/DataSet/DataSet.Core/Src/__history/*.~16~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~16~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~17~
/Demos/CSV/CSV.Core/Src/__history/*.~17~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~17~
/Demos/DataSet/DataSet.Core/Src/__history/*.~17~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~17~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~18~
/Demos/CSV/CSV.Core/Src/__history/*.~18~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~18~
/Demos/DataSet/DataSet.Core/Src/__history/*.~18~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~18~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~19~
/Demos/CSV/CSV.Core/Src/__history/*.~19~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~19~
/Demos/DataSet/DataSet.Core/Src/__history/*.~19~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~19~
/Demos/CSV/CSV.Core/Src/__history/*.~20~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~20~
/Demos/DataSet/DataSet.Core/Src/__history/*.~20~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~20~
/Demos/CSV/CSV.Core/Src/__history/*.~21~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~21~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~21~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~22~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~22~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~23~
/Demos/CSV/CSV.Core.DUnitX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.Core/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.FMX.Exe/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.VCL.Exe/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.View.FMX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.View.VCL/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.Core/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.FMX.App/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.View.FMX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.Core.DUnitX/*.identcache
/Demos/CSV/CSV.Core/*.identcache
/Demos/CSV/CSV.FMX.Exe/*.identcache
/Demos/CSV/CSV.VCL.Exe/*.identcache
/Demos/CSV/CSV.View.FMX/*.identcache
/Demos/CSV/CSV.View.VCL/*.identcache
/Demos/DataSet/DataSet.Core/*.identcache
/Demos/DataSet/DataSet.FMX.App/*.identcache
/Demos/DataSet/DataSet.View.FMX/*.identcache
/Demos/CSV/CSV.Core.DUnitX/*.local
/Demos/CSV/CSV.Core/*.local
/Demos/CSV/CSV.FMX.Exe/*.local
/Demos/CSV/CSV.VCL.Exe/*.local
/Demos/CSV/CSV.View.FMX/*.local
/Demos/CSV/CSV.View.VCL/*.local
/Demos/DataSet/DataSet.Core/*.local
/Demos/DataSet/DataSet.FMX.App/*.local
/Demos/DataSet/DataSet.View.FMX/*.local
/Demos/CSV/CSV.Core.DUnitX/*.res
/Demos/CSV/CSV.Core/*.res
/Demos/CSV/CSV.FMX.Exe/*.res
/Demos/CSV/CSV.VCL.Exe/*.res
/Demos/CSV/CSV.View.FMX/*.res
/Demos/CSV/CSV.View.VCL/*.res
/Demos/DataSet/DataSet.Core/*.res
/Demos/DataSet/DataSet.FMX.App/*.res
/Demos/DataSet/DataSet.View.FMX/*.res
/Demos/DataSet/DataSet.View.FMX/Src/*.vlb
/Demos/CSV/CSV.VCL.Exe/__history
/Demos/DataSet/DataSet.Core/Src/__history
/Demos/DataSet/DataSet.FMX.App/__history
/Demos/DataSet/DataSet.View.FMX/Src/__history
/Source/MVVM.FMX/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.View.FMX/__history
/Source/MVVM.FMX/__history
/Demos/CSV/CSV.Core/__history
/Demos/MyTunes/FMX/*.local
/Demos/MyTunes/FMX/*.res
/Demos/MyTunes/FMX/Views/__history
/Demos/MyTunes/FMX/__history
/Demos/MyTunes/Shared/Interfaces/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.local
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.res
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/Obj/Win32/Debug
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/Src/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/__history
/Source/MVVM.Binding.Strategies/LiveBindings/*.local
/Source/MVVM.Binding.Strategies/LiveBindings/*.res
/Source/MVVM.Binding.Strategies/LiveBindings/Obj/Win32/Debug
/Source/MVVM.Binding.Strategies/LiveBindings/Src/__history
/Source/MVVM.Binding.Strategies/LiveBindings/__history
/Demos/MyTunes/FMX/*.identcache
/Demos/MyTunes/FMX/Obj/Win32/Debug
/Demos/MyTunes/Shared/Models/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.identcache
/Source/MVVM.Binding.Strategies/LiveBindings/*.identcache
/Demos/MyTunes/Shared/Converters/__history
/Demos/MyTunes/Shared/ViewModels/__history
/Demos/MyTunes/Shared/Templates/__history
/Demos/MyTunes/Shared/Types/__history
/Demos/CSV/CSV.Core/Src/__history
/Demos/CSV/CSV.View.FMX/Src/__history
/Demos/CSV/CSV.View.FMX/__history
/Demos/Test-DataSet-ComboBox/__history
/Demos/Test-DataSet-ComboBox/*.local
/Demos/Test-DataSet-ComboBox/*.res
/Demos/CSV/CSV.FMX.Exe/__history
/Source/*.tvsconfig
/Demos/Test-DataSet-ListBox/*.res
/Demos/Test-DataSet-ListBox/__history
/Demos/Test-DataSet-ComboBox/*.identcache
/Demos/Test-DataSet-ListBox/*.local
/Demos/Test-DataSet-ListBox/*.identcache
/Demos/Test-DataSet-ListView/*.local
/Demos/Test-DataSet-ListView/*.identcache
/Demos/Test-DataSet-ListView/__history
/Demos/Test-DataSet-ListBox/*.vlb
/Demos/Test-DataSet-ListView/*.res
/Demos/Test-DataSet-ListView/*.vlb
/Demos/CSV/CSV.FMX.NoPackage.Exe/__history
/Demos/CSV/CSV.FMX.NoPackage.Exe/App.CSV.FMX.NoPackages.dproj.local
/Demos/CSV/CSV.FMX.NoPackage.Exe/App.CSV.FMX.NoPackages.identcache
/Demos/CSV/CSV.FMX.NoPackage.Exe/App.CSV.FMX.NoPackages.res
/Demos/Test-DataSet-Grid/__history
/Demos/Test-DataSet-Grid/Test_DataSet_Grid.dproj.local
/Demos/Test-DataSet-Grid/Test_DataSet_Grid.identcache
/Demos/Test-DataSet-Grid/Test_DataSet_Grid.res
/Demos/Test-DataSet-Grid/frmMain.vlb
/Demos/Test-V-VM-Interfaces/Core/__history
/Demos/Test-V-VM-Interfaces/Demo/__history
/Demos/Test-V-VM-Interfaces/__history
/Demos/Test-V-VM-Interfaces/Test_V_VMs.dproj.local
/Demos/Test-V-VM-Interfaces/Test_V_VMs.res
/Demos/CSV/CSV.FMX.NoPackage.Exe/Win32/Debug
/Demos/CSV/CSV.Resources.Common/__history
/Demos/CRUD/CRUD.Core/CRUD.Core.dproj.local
/Demos/CRUD/CRUD.Core/CRUD.Core.identcache
/Demos/CRUD/CRUD.Core/CRUD.Core.res
/Demos/CRUD/CRUD.Core/__history
/Demos/CRUD/CRUD.Core/Src/__history
/Demos/CRUD/CRUD.FMX.App/__history
/Demos/CRUD/CRUD.FMX.NoPackage.App/__history
/Demos/CRUD/CRUD.FMX/__history
/Demos/CRUD/CRUD.FMX/Src/__history
/Demos/CRUD/DataSet.Resources.Common/__history
/Demos/Test-DataSet-Grid - FMX/__history
/Demos/Test-Grid-TList/__history
/ThirdParty/Spring4D/Packages/Delphi10Rio/__history
/Demos/CRUD/CRUD.FMX.App/Src/__history
/Demos/CRUD/CRUD.FMX.NoPackage.App/Obj/Win32/Debug
/Demos/CRUD/CRUD.Core/Obj/Win32/Debug
/Demos/CRUD/CRUD.FMX.App/Obj/Win32/Debug
/Demos/CRUD/CRUD.FMX/Obj/Win32/Debug
/Demos/Test-DataSet-Grid - FMX/Win32/Debug
/Demos/Test-DataSet-Grid/Win32/Debug
/ThirdParty/Spring4D/Packages/Delphi10Rio/Obj/Win32/Debug
/Demos/CRUD/CRUD.Core/DataSet.Core.identcache
/Demos/CRUD/CRUD.FMX.App/App.CRUD.FMX.identcache
/Demos/CRUD/CRUD.FMX.App/App.DataSet.FMX.identcache
/Demos/CRUD/CRUD.FMX.NoPackage.App/App.CRUD.FMX.NoPackage.identcache
/Demos/CRUD/CRUD.FMX/CRUD.View.FMX.identcache
/Demos/CRUD/CRUD.FMX/DataSet.View.FMX.identcache
/Demos/Test-DataSet-Grid - FMX/Test_DataSet_Grid.identcache
/Demos/Test-Grid-TList/Project65.identcache
/Demos/CRUD/CRUD.Core/DataSet.Core.dproj.local
/Demos/CRUD/CRUD.FMX.App/App.CRUD.FMX.dproj.local
/Demos/CRUD/CRUD.FMX.App/App.DataSet.FMX.dproj.local
/Demos/CRUD/CRUD.FMX.NoPackage.App/App.CRUD.FMX.NoPackage.dproj.local
/Demos/CRUD/CRUD.FMX/CRUD.View.FMX.dproj.local
/Demos/CRUD/CRUD.FMX/DataSet.View.FMX.dproj.local
/Demos/CRUD/CRUD.groupproj.local
/Demos/Test-DataSet-Grid - FMX/ProjectGroup1.groupproj.local
/Demos/Test-DataSet-Grid - FMX/Test_DataSet_Grid.dproj.local
/Demos/Test-DataSet-Grid/ProjectGroup1.groupproj.local
/Demos/Test-Grid-TList/Project65.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Base.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Core.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Extensions.dproj.local
/Demos/CRUD/CRUD.Core/DataSet.Core.res
/Demos/CRUD/CRUD.FMX.App/App.CRUD.FMX.res
/Demos/CRUD/CRUD.FMX.App/App.DataSet.FMX.res
/Demos/CRUD/CRUD.FMX.NoPackage.App/App.CRUD.FMX.NoPackage.res
/Demos/CRUD/CRUD.FMX/CRUD.View.FMX.res
/Demos/CRUD/CRUD.FMX/DataSet.View.FMX.res
/Demos/Test-DataSet-Grid - FMX/Test_DataSet_Grid.res
/Demos/Test-Grid-TList/Project65.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Base.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Core.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Data.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/Delphi10Berlin/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Base.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Core.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Data.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Base.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Core.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Data.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/Delphi10Seattle/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Base.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Core.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Data.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/Delphi10Tokyo/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE2/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE3/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE4/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE5/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE6/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE7/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Base.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Core.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Data.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/DelphiXE8/Spring.Persistence.res
/Demos/CRUD/CRUD.FMX.App/Src/uMain.vlb
/Demos/CRUD/CRUD.FMX/Src/Personas.View.Desktop.vlb
/Demos/Test-DataSet-Grid - FMX/frmMain.vlb
/Demos/CRUD/CRUD.Resources.Common/__history
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Base.identcache
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Core.identcache
/ThirdParty/Spring4D/Packages/Delphi10Rio/Spring.Extensions.identcache
/Demos/Test-DataSet-Grid - FMX/Win64/Debug/Test_DataSet_Grid.exe
/Demos/Test-DataSet-Grid - FMX/Win64/Debug/Test_DataSet_Grid.rsm
/Demos/Test-DataSet-Grid - FMX/Win64/Debug/frmMain.dcu
/Demos/Test-DataSet-ListBox/__recovery
/Demos/Test-DataSet-ListBox/Win32/Debug
/ThirdParty/Spring4D/Packages/Delphi10Rio/Obj
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/src/__history
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/__history
/Demos/VM_Comunicacion/VM_Comunicacion.Core/src/__history
/Demos/CRUD/CRUD.Core/Obj
/Demos/CRUD/CRUD.FMX/Obj
/Demos/CRUD/CRUD.FMX.App/Obj
/Demos/CRUD/CRUD.FMX.NoPackage.App/Obj
/Demos/CSV/CSV.Core/Obj
/Demos/CSV/CSV.FMX.Exe/Obj
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/src/__history
/Demos/VM_Comunicacion/VM_Comunicacion.Core/Obj
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/__history
/Demos/VM_Comunicacion/VM_Comunicacion.Core/__history
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/Obj
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/Obj
/Source/MVVM.Binding.Strategies/LiveBindings/Obj
/Source/MVVM.Core/Obj
/Source/MVVM.FMX/Obj
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/Obj
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/App.VM_Comunicacion.FMX.identcache
/Demos/VM_Comunicacion/VM_Comunicacion.Core/VM_Comunicacion.Core.identcache
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/VM_Comunicacion.Views.FMX.identcache
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/App.VM_Comunicacion.FMX.dproj.local
/Demos/VM_Comunicacion/VM_Comunicacion.Core/VM_Comunicacion.Core.dproj.local
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/VM_Comunicacion.Views.FMX.dproj.local
/Demos/CSV/CSV.View.FMX/Obj
/Demos/VM_Comunicacion/App.VM_Comunicacion.FMX.exe/App.VM_Comunicacion.FMX.res
/Demos/VM_Comunicacion/VM_Comunicacion.Core/VM_Comunicacion.Core.res
/Demos/VM_Comunicacion/VM_Comunicacion.Views.FMX/VM_Comunicacion.Views.FMX.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/*.res
*.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Data.Designtime.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Data.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Extensions.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Persistence.res
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Obj
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Base.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Core.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Extensions.dproj.local
/ThirdParty/Spring4D/Packages/Delphi10Sydney/__history
/Demos/Test-Events/src/Obj
/Demos/Test-Events/src/Test_Messages.dproj.local
/Demos/Test-Events/src/Test_Messages.identcache
/Demos/Test-Events/src/__history
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Base.identcache
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Core.identcache
/ThirdParty/Spring4D/Packages/Delphi10Sydney/Spring.Extensions.identcache
/Source/MVVM.Core/Src/Tmp
/Demos/Test-Messages/Obj
/Demos/Test-Messages/__history
/Demos/Test-Messages/src/Obj
/Demos/Test-Messages/src/*.local
/Demos/Test-Messages/src/__history
/Source/MVVM.Core/Src/__recovery
/Demos/Test-Messages/src/*.identcache
