/Source/__history
/Source/CSV.Core/__history
/Source/CSV.Core/Src/__history
/Source/CSV.FMX.Exe/__history
/Source/CSV.Resources.Common/__history
/Source/CSV.VCL.Exe/__history
/Source/CSV.VCL.Exe/Src/__history
/Source/CSV.View.FMX/__history
/Source/CSV.View.FMX/Src/__history
/Source/CSV.View.VCL/__history
/Source/CSV.View.VCL/Src/__history
/Source/MVVM.Core/__history
/Source/MVVM.Core/Src/__history
/Source/Win32/Debug/DCP/*.bpi
/Source/Win32/Debug
/Source/CSV.Core/Obj/Win32/Debug
/Source/CSV.FMX.Exe/Obj/Win32/Debug
/Source/CSV.VCL.Exe/Obj/Win32/Debug
/Source/CSV.View.FMX/Obj/Win32/Debug
/Source/CSV.View.VCL/Obj/Win32/Debug
/Source/MVVM.Core/Obj/Win32/Debug
/Source/CSV.Core/*.identcache
/Source/CSV.VCL.Exe/*.identcache
/Source/CSV.FMX.Exe/*.identcache
/Source/CSV.View.FMX/*.identcache
/Source/CSV.View.VCL/*.identcache
/Source/MVVM.Core/*.identcache
/Source/CSV.Core/*.local
/Source/CSV.FMX.Exe/*.local
/Source/CSV.VCL.Exe/*.local
/Source/CSV.View.FMX/*.local
/Source/CSV.View.VCL/*.local
/Source/MVVM.Core/*.local
/Source/*.local
/Source/CSV.Core/*.res
/Source/CSV.FMX.Exe/*.res
/Source/CSV.VCL.Exe/*.res
/Source/CSV.View.FMX/*.res
/Source/CSV.View.VCL/*.res
/Source/MVVM.Core/*.res
/Source/MVVM.FMX/MVVM.Platform.FMX.dproj.local
/Source/MVVM.FMX/MVVM.Platform.FMX.identcache
/Source/MVVM.FMX/MVVM.Platform.FMX.res
/Source/MVVM.FMX/Obj/Win32/Debug/MVVM.Servicios.Platform.FMX.dcu
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~1~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~2~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~3~
/Source/MVVM.FMX/Src/__history/MVVM.Servicios.Platform.FMX.pas.~4~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~1~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~2~
/Source/MVVM.FMX/__history/MVVM.Platform.FMX.dpk.~3~
/Source/MVVM.FMX/Src/__history
/Source/MVVM.VCL/Obj/Win32/Debug
/Source/MVVM.VCL/Src/__history
/Source/MVVM.VCL/__history
/Source/MVVM.VCL/MVVM.Platform.VCL.dproj.local
/Source/MVVM.VCL/MVVM.Platform.VCL.identcache
/Source/MVVM.VCL/MVVM.Platform.VCL.res
/Source/CSV.Core.DUnitX/__history
/Source/CSV.Core.DUnitX/Src/__history
/Source/CSV.Core.DUnitX/Obj/Win32/Debug
/Source/CSV.Core.DUnitX/Win32/Debug/*.exe
/Source/CSV.Core.DUnitX/*.identcache
/Source/CSV.Core.DUnitX/*.local
/Source/CSV.Core.DUnitX/*.res
/ThirdParty/DunitX/Tests/*.res
/Source/CSV.Core.DUnitX/Win32/Debug
/Bin
/Demos/CSV/CSV.Core.DUnitX/__history
/Demos/CSV/CSV.Core.DUnitX/__history/*.~1~
/Demos/CSV/CSV.Core/__history/*.~1~
/Demos/CSV/CSV.Core/Src/__history/*.~1~
/Demos/CSV/CSV.FMX.Exe/__history/*.~1~
/Demos/CSV/CSV.Resources.Common/__history/*.~1~
/Demos/CSV/CSV.VCL.Exe/__history/*.~1~
/Demos/CSV/CSV.VCL.Exe/Src/__history/*.~1~
/Demos/CSV/CSV.View.FMX/__history/*.~1~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~1~
/Demos/CSV/CSV.View.VCL/__history/*.~1~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~1~
/Demos/DataSet/DataSet.Core/__history/*.~1~
/Demos/DataSet/DataSet.Core/Src/__history/*.~1~
/Demos/DataSet/DataSet.Resources.Common/__history/*.~1~
/Demos/DataSet/DataSet.View.FMX/__history/*.~1~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~1~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~2~
/Demos/CSV/CSV.Core/__history/*.~2~
/Demos/CSV/CSV.Core/Src/__history/*.~2~
/Demos/CSV/CSV.FMX.Exe/__history/*.~2~
/Demos/CSV/CSV.VCL.Exe/__history/*.~2~
/Demos/CSV/CSV.View.FMX/__history/*.~2~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~2~
/Demos/CSV/CSV.View.VCL/__history/*.~2~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~2~
/Demos/DataSet/DataSet.Core/__history/*.~2~
/Demos/DataSet/DataSet.Core/Src/__history/*.~2~
/Demos/DataSet/DataSet.Resources.Common/__history/*.~2~
/Demos/DataSet/DataSet.View.FMX/__history/*.~2~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~2~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~3~
/Demos/CSV/CSV.Core/Src/__history/*.~3~
/Demos/CSV/CSV.FMX.Exe/__history/*.~3~
/Demos/CSV/CSV.View.FMX/__history/*.~3~
/Demos/CSV/CSV.View.VCL/__history/*.~3~
/Demos/CSV/CSV.View.VCL/Src/__history/*.~3~
/Demos/DataSet/DataSet.Core/__history/*.~3~
/Demos/DataSet/DataSet.Core/Src/__history/*.~3~
/Demos/DataSet/DataSet.FMX.App/__history/*.~3~
/Demos/DataSet/DataSet.View.FMX/__history/*.~3~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~3~
/Demos/CSV/CSV.Core.DUnitX/__history/*.~4~
/Demos/CSV/CSV.Core/Src/__history/*.~4~
/Demos/CSV/CSV.FMX.Exe/__history/*.~4~
/Demos/CSV/CSV.VCL.Exe/__history/*.~4~
/Demos/CSV/CSV.View.FMX/__history/*.~4~
/Demos/DataSet/DataSet.Core/__history/*.~4~
/Demos/DataSet/DataSet.Core/Src/__history/*.~4~
/Demos/DataSet/DataSet.FMX.App/__history/*.~4~
/Demos/DataSet/DataSet.View.FMX/__history/*.~4~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~4~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~5~
/Demos/CSV/CSV.Core/Src/__history/*.~5~
/Demos/CSV/CSV.FMX.Exe/__history/*.~5~
/Demos/CSV/CSV.VCL.Exe/__history/*.~5~
/Demos/CSV/CSV.View.FMX/__history/*.~5~
/Demos/DataSet/DataSet.Core/__history/*.~5~
/Demos/DataSet/DataSet.Core/Src/__history/*.~5~
/Demos/DataSet/DataSet.FMX.App/__history/*.~5~
/Demos/DataSet/DataSet.View.FMX/__history/*.~5~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~5~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~6~
/Demos/CSV/CSV.Core/Src/__history/*.~6~
/Demos/CSV/CSV.FMX.Exe/__history/*.~6~
/Demos/CSV/CSV.VCL.Exe/__history/*.~6~
/Demos/DataSet/DataSet.Core/__history/*.~6~
/Demos/DataSet/DataSet.Core/Src/__history/*.~6~
/Demos/DataSet/DataSet.FMX.App/__history/*.~6~
/Demos/DataSet/DataSet.View.FMX/__history/*.~6~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~6~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~7~
/Demos/CSV/CSV.FMX.Exe/__history/*.~7~
/Demos/CSV/CSV.VCL.Exe/__history/*.~7~
/Demos/DataSet/DataSet.Core/__history/*.~7~
/Demos/DataSet/DataSet.Core/Src/__history/*.~7~
/Demos/DataSet/DataSet.FMX.App/__history/*.~7~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~7~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~8~
/Demos/CSV/CSV.FMX.Exe/__history/*.~8~
/Demos/CSV/CSV.VCL.Exe/__history/*.~8~
/Demos/DataSet/DataSet.Core/__history/*.~8~
/Demos/DataSet/DataSet.Core/Src/__history/*.~8~
/Demos/DataSet/DataSet.FMX.App/__history/*.~8~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~8~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~9~
/Demos/CSV/CSV.FMX.Exe/__history/*.~9~
/Demos/CSV/CSV.VCL.Exe/__history/*.~9~
/Demos/DataSet/DataSet.Core/__history/*.~9~
/Demos/DataSet/DataSet.Core/Src/__history/*.~9~
/Demos/DataSet/DataSet.FMX.App/__history/*.~9~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~9~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~10~
/Demos/CSV/CSV.Core/Src/__history/*.~10~
/Demos/CSV/CSV.FMX.Exe/__history/*.~10~
/Demos/CSV/CSV.VCL.Exe/__history/*.~10~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~10~
/Demos/DataSet/DataSet.Core/Src/__history/*.~10~
/Demos/DataSet/DataSet.FMX.App/__history/*.~10~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~10~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~11~
/Demos/CSV/CSV.Core/Src/__history/*.~11~
/Demos/CSV/CSV.FMX.Exe/__history/*.~11~
/Demos/CSV/CSV.VCL.Exe/__history/*.~11~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~11~
/Demos/DataSet/DataSet.Core/Src/__history/*.~11~
/Demos/DataSet/DataSet.FMX.App/__history/*.~11~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~11~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~12~
/Demos/CSV/CSV.Core/Src/__history/*.~12~
/Demos/CSV/CSV.VCL.Exe/__history/*.~12~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~12~
/Demos/DataSet/DataSet.Core/Src/__history/*.~12~
/Demos/DataSet/DataSet.FMX.App/__history/*.~12~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~12~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~13~
/Demos/CSV/CSV.Core/Src/__history/*.~13~
/Demos/CSV/CSV.VCL.Exe/__history/*.~13~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~13~
/Demos/DataSet/DataSet.Core/Src/__history/*.~13~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~13~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~14~
/Demos/CSV/CSV.Core/Src/__history/*.~14~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~14~
/Demos/DataSet/DataSet.Core/Src/__history/*.~14~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~14~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~15~
/Demos/CSV/CSV.Core/Src/__history/*.~15~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~15~
/Demos/DataSet/DataSet.Core/Src/__history/*.~15~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~15~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~16~
/Demos/CSV/CSV.Core/Src/__history/*.~16~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~16~
/Demos/DataSet/DataSet.Core/Src/__history/*.~16~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~16~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~17~
/Demos/CSV/CSV.Core/Src/__history/*.~17~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~17~
/Demos/DataSet/DataSet.Core/Src/__history/*.~17~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~17~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~18~
/Demos/CSV/CSV.Core/Src/__history/*.~18~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~18~
/Demos/DataSet/DataSet.Core/Src/__history/*.~18~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~18~
/Demos/CSV/CSV.Core.DUnitX/Src/__history/*.~19~
/Demos/CSV/CSV.Core/Src/__history/*.~19~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~19~
/Demos/DataSet/DataSet.Core/Src/__history/*.~19~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~19~
/Demos/CSV/CSV.Core/Src/__history/*.~20~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~20~
/Demos/DataSet/DataSet.Core/Src/__history/*.~20~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~20~
/Demos/CSV/CSV.Core/Src/__history/*.~21~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~21~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~21~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~22~
/Demos/DataSet/DataSet.View.FMX/Src/__history/*.~22~
/Demos/CSV/CSV.View.FMX/Src/__history/*.~23~
/Demos/CSV/CSV.Core.DUnitX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.Core/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.FMX.Exe/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.VCL.Exe/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.View.FMX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.View.VCL/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.Core/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.FMX.App/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.View.FMX/Obj/Win32/Debug/*.dcu
/Demos/CSV/CSV.Core.DUnitX/*.identcache
/Demos/CSV/CSV.Core/*.identcache
/Demos/CSV/CSV.FMX.Exe/*.identcache
/Demos/CSV/CSV.VCL.Exe/*.identcache
/Demos/CSV/CSV.View.FMX/*.identcache
/Demos/CSV/CSV.View.VCL/*.identcache
/Demos/DataSet/DataSet.Core/*.identcache
/Demos/DataSet/DataSet.FMX.App/*.identcache
/Demos/DataSet/DataSet.View.FMX/*.identcache
/Demos/CSV/CSV.Core.DUnitX/*.local
/Demos/CSV/CSV.Core/*.local
/Demos/CSV/CSV.FMX.Exe/*.local
/Demos/CSV/CSV.VCL.Exe/*.local
/Demos/CSV/CSV.View.FMX/*.local
/Demos/CSV/CSV.View.VCL/*.local
/Demos/DataSet/DataSet.Core/*.local
/Demos/DataSet/DataSet.FMX.App/*.local
/Demos/DataSet/DataSet.View.FMX/*.local
/Demos/CSV/CSV.Core.DUnitX/*.res
/Demos/CSV/CSV.Core/*.res
/Demos/CSV/CSV.FMX.Exe/*.res
/Demos/CSV/CSV.VCL.Exe/*.res
/Demos/CSV/CSV.View.FMX/*.res
/Demos/CSV/CSV.View.VCL/*.res
/Demos/DataSet/DataSet.Core/*.res
/Demos/DataSet/DataSet.FMX.App/*.res
/Demos/DataSet/DataSet.View.FMX/*.res
/Demos/DataSet/DataSet.View.FMX/Src/*.vlb
/Demos/CSV/CSV.VCL.Exe/__history
/Demos/DataSet/DataSet.Core/Src/__history
/Demos/DataSet/DataSet.FMX.App/__history
/Demos/DataSet/DataSet.View.FMX/Src/__history
/Source/MVVM.FMX/Obj/Win32/Debug/*.dcu
/Demos/DataSet/DataSet.View.FMX/__history
/Source/MVVM.FMX/__history
/Demos/CSV/CSV.Core/__history
/Demos/MyTunes/FMX/*.local
/Demos/MyTunes/FMX/*.res
/Demos/MyTunes/FMX/Views/__history
/Demos/MyTunes/FMX/__history
/Demos/MyTunes/Shared/Interfaces/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.local
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.res
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/Obj/Win32/Debug
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/Src/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/__history
/Source/MVVM.Binding.Strategies/LiveBindings/*.local
/Source/MVVM.Binding.Strategies/LiveBindings/*.res
/Source/MVVM.Binding.Strategies/LiveBindings/Obj/Win32/Debug
/Source/MVVM.Binding.Strategies/LiveBindings/Src/__history
/Source/MVVM.Binding.Strategies/LiveBindings/__history
/Demos/MyTunes/FMX/*.identcache
/Demos/MyTunes/FMX/Obj/Win32/Debug
/Demos/MyTunes/Shared/Models/__history
/Source/MVVM.Binding.Strategies/LiveBindings.FMX/*.identcache
/Source/MVVM.Binding.Strategies/LiveBindings/*.identcache
